<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This app is created by Akshat Bhardwaj.It uses data from mapbox.com and weatherstack.com to show the real time forecast of locations that you search.</p>

        <img class="portrait" src="./img/nature.jpg" alt="picture of nature">
    </div>
    {{>footer}}
</body>
</html>