<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content" id="container">
        {{>header}}
        <p>Use this website to get weather!</p>
        <form >
            <input type="text" placeholder="Location" id="myInput">
            <button>Search</button>
        </form>
        <div class="clear">      
             <button id="clearbtn">Clear</button>
        </div>
        
        <p id="msg1"></p>
        <p id="msg2"></p>
        
    </div>

    {{>footer}}

<script src="/js/app.js"></script>
</body>
</html>